*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    font-size: 1rem;
}

.container{
    background-color: hsl(234, 29%, 20%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 20px;
}

.content{
    min-height:80%;
    max-width: 70%;
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.content .left{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    max-width: 60%;
    padding: 20px;
}
.content .left h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.content .left p{
    margin-bottom: 20px;
    padding: 0;
}
.content .left li{
    list-style: none;
    margin-bottom: 10px;
    background: url(/assets/images/icon-list.svg) no-repeat left top;
    padding: 0 0 3px 30px;
}
.content .left svg{
    margin-right: 10px;
}
.content .left .email{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width:100%;
    justify-content: space-between;
}
.content .left input{
    min-height: 40px;
    border-radius: 5px;
    border-width: 1px;
    border-color: hsl(231, 7%, 60%);
    margin-bottom: 20px;
    min-width: 100%;
    text-indent: 20px;
}
.content .left button{
    min-height: 40px;
    border-radius: 5px;
    color: white;
    background-color: hsl(234, 29%, 20%);
    border: none;
    min-width: 100%;
    cursor: pointer;
}
.content .left #invalid-msg{
    color: tomato;
    display: flex;
}
.content .left input:invalid{
    background-color: rgb(254, 229, 224);
    border-color: tomato;
    border-width: 2px;
    color: tomato;
    outline: none;
}
.content button:hover{
    background-color: hsl(4, 100%, 67%);
}

.content .right{
    display: flex;
    padding: 10px;
    max-width: 100%;
}
.content .right svg{
    display: flex;
    max-width: 100%;
}
#img1{
    display: flex;
}
#img2{
    display: none;
}

@media(max-width:700px){
    .content{
        padding: 0;
        flex-direction: column-reverse;
        min-width: 100%;
        min-height: 1vh;
    }
    .content .right{
        object-fit: cover;
    }
    .content .right svg{
        object-fit:cover;
        object-position: center;
    }
    #img1{
        display: none;
    }
    #img2{
        display: block;
        object-fit: contain;
        height: 100%;
    }
    *{
        font-size: 1rem;
    }
    .content .left{
        width:90%;
    }
    .content .left h1{
        font-size: 2rem;
    }
    .content .left button,.content .left input{
        max-width: 100%;
    }
}